* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #0d1117;
  --background-Light: #21262d;
  --gray-line: #dcdde0;
  --text: #c9d1d9;
  --text-highlight: #b3b9ff;
  --title: #ccd6f6;
  --red: #c53030;
  --green: #4cd62b;
  --blue: #6e40c9;
  --blue-dark: #5931a9;
  --blue-twitter: #2aa9e0;
}
@media (max-width: 1000px) {
  html {
    font-size: 93, 73%;
    overflow: hidden;
    overflow-y: initial;
  }
}
@media (min-width: 300px) and (max-width: 768px) {
  /* Works on Firefox */
  * {
    scrollbar-width: 5px;
    scrollbar-color: #21262d #0d1117;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--background-Light);
    border-radius: 5px;
  }
  html {
    font-size: 87, 5%;
    scroll-behavior: smooth;
  }
}
body {
  background: var(--background);
  color: var(--text);
}
body,
input,
textarea,
button {
  font: 400 1rem "Inter", sans-serif;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
